@using Shop.Core.Domain
@model List<Product>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-3 pb-3">
                <div class="col-md-12 heading-section text-center ftco-animate">     
                    <h2 class="mb-4"> جدید ترین ها </h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                
                @foreach (var item in Model)
                {
                     <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="product">
                        <a href="#" class="img-prod"><img class="img-fluid" src="@item.Medias[0].Path" alt="Colorlib Template">
                           @* <span class="status">30%</span>*@
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                          <h3> <a asp-action="SingelProduct" asp-controller="home" asp-route-id="@item.ProductId">@item.Name</a> </h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price">
                                       @* <span class="mr-2 price-dc"> 220.000</span>
                                        <span class="price-dc"> تومان</span>*@
                                        <span class="price-sale"> @item.Price </span>
                                        <span class="price-sale"> تومان</span>
                                    </p>
                                </div>
                            </div>
                            <input type="hidden" name="ProductId" value="@item.ProductId">
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a href="~/home/SingelProduct/@item.ProductId"
                                       class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                        <span><i class="ion-ios-menu"></i></span>
                                    </a>
                                   	<button type="submit" style="border:none;">
									<a href="~/cart/addtocart" class="buy-now d-flex justify-content-center align-items-center mx-1">
										<span><i class="ion-ios-cart"></i></span>
									</a>
									</button>
                                    <a href="#" class="heart d-flex justify-content-center align-items-center ">
                                        <span><i class="ion-ios-heart"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>	
                }
            </div>

        </div>
    </section>