@using Shop.Core.Domain

@model PagedList<Product>

@{
    ViewData["Title"] = "Home";
	Layout="_Layout";
}
 <div class="hero-wrap hero-bread" style="background-image: url(https://www.greenqueen.com.hk/wp-content/uploads/2021/07/Rental-Fashion-Causes-More-Emissions-Than-Throwing-Clothes-Away.jpg;")>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
        </div>
      </div>
	  </div>
	<!--Start Search-->
<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
    <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
            <div class="col-md-6">
                <h2 style="font-size: 22px;" class="mb-0">جستوجوی محصول مورد نظر</h2>
                
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <form asp-action="search" class="subscribe-form">
                    <div class="form-group d-flex">
                        <input type="text" class="form-control" name="q" placeholder="  نام کالا یا دسته بندی   ">
                        <input type="submit" value="جستوجو" class="submit px-3">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--End Search-->

    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center">
    			<div class="col-md-10 mb-5 text-center">
    				<ul class="product-category">
    					<li><a href="#" class="active">همه</a></li>
    					<li><a href="#">پیراهن و لباس</a></li>
    					<li><a href="#">کیف و کفش</a></li>
    					<li><a href="#">ساعت و اکسسوری</a></li>
    					<li><a href="#"> آرایشی و بهداشتی</a></li>
    				</ul>
    			</div>
    		</div>


			<div class="row">

				@foreach (var item in Model.Data)
				{
					<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="product">
									 <form asp-action="AddToCart" asp-controller="Cart" >
						<a href="#" class="img-prod">
							<img class="img-fluid" src="@item.Medias[0].Path" alt="Colorlib Template">
						@*	<span class="status">30%</span>*@
							<div class="overlay"></div>
						</a>
						<div class="text py-3 pb-4 px-3 text-center">
							<h3> <a asp-action="SingelProduct" asp-controller="home" asp-route-id="@item.ProductId">@item.Name</a> </h3>
							<div class="d-flex">
								<div class="pricing">
									<p class="price">
										@*<span class="mr-2 price-dc"> @item.Price </span>
										<span class="price-dc"> تومان</span>*@
										<span class="price-sale"> @item.Price </span>
										<span class="price-sale"> تومان</span>
										 <input type="hidden" name="ProductId" value="@item.ProductId">
									</p>	
								</div>
							</div>
							<div class="bottom-area d-flex px-3">
								<div class="m-auto d-flex">
									<a href="~/home/SingelProduct/@item.ProductId"
									   class="add-to-cart d-flex justify-content-center align-items-center text-center">
										<span><i class="ion-ios-menu"></i></span>
									</a>
									<button type="submit" style="border:none;">
									<a href="~/cart/addtocart" class="buy-now d-flex justify-content-center align-items-center mx-1">
										<span><i class="ion-ios-cart"></i></span>
									</a>
									</button>
									<a href="#" class="heart d-flex justify-content-center align-items-center ">
										<span><i class="ion-ios-heart"></i></span>
									</a>
								</div>
							</div>
						</div>
						</form>
					</div>
				</div>
				}
			</div>
		
    		<div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
				    <li class="active"><a href="#">&lt;</a></li>
				     @for (int i = 1; i <= Model.TotalPages; i++)
						{
							<li><a asp-route-page="@i">@i</a></li>
					    } 						<li class="active"><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
    	</div>
    </section>
